.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 100vh;
}

.socialIcons {
	width: 100%;
}

.feedback,
.planes {
	width: 100%;
}

.footer {
	padding: 1rem;
	padding-bottom: 1.5rem;
	width: 100%;
}
