.container {
	/* flex: 1; */
	display: flex;
	overflow-x: auto;
	width: 100%;
}

@media only screen and (min-width: 992px) {
	.container {
		justify-content: space-around;
	}
	.item {
		border-radius: 25px;
	}
}

.avatar {
	border-radius: 50%;
}

.item {
	width: 75%;
	flex: 0 0 auto;
	padding: 0.5rem;
	/* display: flex; */
	max-width: 300px;
}

.item h3 {
	font-size: 1rem;
	text-align: unset;
	padding: unset;
	margin: unset;
	margin-left: 0.25rem;
	margin-bottom: 0.25rem;
}
.item h4 {
	font-size: 0.8rem;
	margin-left: 0.25rem;
}

.titles {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.imageAndTitles {
	display: flex;
	align-items: center;
	margin-top: 2rem;
	/* justify-content: center; */
}

.visitButtonContainer {
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 0.7rem;
}

.visitButton {
	background-color: white;
	border-radius: 10px;
	font-size: 1rem;
	color: var(--main-color);
	font-weight: bold;
	display: inline-block;
	padding-inline: 0.5rem;
	padding-block: 0.2rem;
}
